.wrap-contact {
  display: flex;
  padding: 0.5rem;

  .wrap-contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }

  .wrap-buttons {
    .button {
      width: 3.25rem;
      height: 1.5rem;
      border: 1px solid var(--black);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.25rem;
      background-color: #fff;
      font-weight: 400;
      margin-bottom: 0.375rem;
      box-sizing: border-box;
      color: var(--black);
      cursor: pointer;
    }
  }
}
