.wrap-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5vw;
}

.wrap-image{
    width: 100%;                
    position: relative;         

    &::after {                  
        content: "";            
        display: block;         
        padding-bottom: 100%;   
    }

    img {
        width: 100%;

        height: 100%;      
        position: absolute;
        left: 0;           
        object-fit: cover; 
        border-radius: 8;
    }
}
